.web-wrapper {
	display: flex;

	.section-title {
		width: 100%;
		display: flex;
		justify-content: center;
		font-size: 2rem;
		margin-bottom: 1rem;
		margin-top: 5rem;

		.title::before {
			display: inline-block;
			margin-top: 0px;
			vertical-align: middle;
			content: '';
			background-color: #c2c2c2;
			width: 40px;
			height: 2px;
		}

		.title::after {
			display: inline-block;
			margin-top: 0px;
			vertical-align: middle;
			content: '';
			background-color: #c2c2c2;
			width: 40px;
			height: 2px;
		}
	}
}
