$about-height: 100vh-8vh;
$about-width: 100vw;

.about-wrapper {
	height: $about-height;

	.row {
		display: flex;
		flex-direction: row;
		height: $about-height / 2;
		width: $about-width;

		.img {
			background-color: gray;
			height: 100%;
			width: 50%;
		}

		.text-wrapper {
			height: 100%;
			width: 50%;

			.text {
				font-size: 1em;
				padding: 2.5rem 5rem 0 5rem;
			}
		}
	}
}
