.writing-wrapper {
	padding: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 22.5rem;
		margin: 1em;

		&-img {
			height: 200px;
			background-color: gray;
		}

		&-title {
			padding: 0.5rem 1rem;
		}

		&-text {
			padding: 0 1rem;
			padding-bottom: 0.75rem;
		}
	}
}
