.navbar-wrapper {
	background-color: white;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 8vh;
	align-items: center;
	z-index: 1;

	// style for Link component
	a {
		text-decoration: none;
		color: black;
	}

	.name {
		font-size: 2.5em;
		letter-spacing: 0.3em;
		margin-left: 1em;
	}

	.tab-list {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0 1em 0 0;
		padding: 0;

		.tab {
			padding: 0 2em;
			border-right: 1.2px rgb(214, 214, 214) solid;
		}

		.active {
			position: relative;
			display: inline-block;
			z-index:0;
		}

		.active::before {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;
			bottom: -7px;
			height: 0.2px;
			border: 1px solid #464646;
			border-radius : 10px;
			background-color: #464646;
			animation: fadeIn 0.75s linear;
		}

		#last-tab {
			border-right: none;
		}
	}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}