$photo-square-length: 10rem;
$photo-rectangle-length: ($photo-square-length * 3)/2;

.photography-wrapper {
	padding: 2em;

	.section {
		margin: 0 0 1rem 0;
		.header {
			margin: 0 0 0.5rem 0;
		}

		.photo-row {
			margin: 0 0 0.5rem 0;
			display: flex;
			.photo {
				background-color: gray;
				margin: 0 0.5rem 0 0;
			}

			.square {
				height: $photo-square-length;
				width: $photo-square-length;
			}

			.rectangle {
				height: $photo-square-length;
				width: $photo-rectangle-length;
			}
		}
	}
}
